@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  font-family: 'Roboto', sans-serif;
}


/* Sign In Form */
.f-container {
  text-align: center;
  padding-top: 6em;
  margin-left: 45em;
  margin-right: 5em;
  color : #696464;
}

.f-container h1 {
  height: 40px;
}

.f-icon {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
  cursor: pointer;
}

.f-icon i {
  margin: 10px 15px;
}

.f-form1 input {
  width: 80%;
  margin: 20px 0px;
  line-height: 30px;
  font-size : 16px;
  padding : 0px 10px;
  border : none;
  border-bottom: 1px #696464 solid;
  outline: none;
  color: #696464;
  position: relative;
  background-color: #ffffff;
}

.in-sign {
  background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
  clip-path: circle(68.6% at 0 11%);
  padding-top: 6.7%;
  padding-bottom: 14.9%;
  padding-right: 52%;
  height: 100%;
  line-height: 45px;
  font-size: 20px;
  z-index: -5;
  color: white;
  position: fixed;
}

.in-sign i {
  margin-left : 230px;
  padding-top : 70px;
}

.in-sign h1 {
  margin-left : 110px;
}

.in-sign p {
  margin-left : 30px;
}

/* End of sign in form */

/* Btn Set */
.btn-name button{
  margin: 15px 0px;
  background-color: #ffffff;
  outline: none;
  padding: 1.5% 36.5%;
  font-size : 16px;
  border-radius: 16px;
  border: 1px #696464 solid;
  color: #696464;
}

.btn-name a {
  text-decoration: none;
  color: #696464;
}

.btn-re {
  /* display: flex; */
  /* justify-content: space-around; */
  font-size: 12px;
  /* margin-left: 40px; */
  font-weight: 550;
}

.re-1 {
  margin-left: 0px;
  font-size : 16px; 
  margin: 0px 46px;
  background-color: #1EECFF;
  outline: none;
  padding: 1.5%  2.5%;
  border: 1px #1EECFF solid;
  border-radius: 16px;
}

.re-1 p {
  color: #ffffff;
}

.btn-re span{
  color: #1EECFF;
  /* margin-left: -125px; */
}

/* End of BTN Set */

/* Forgot Password */
.re-container {
  background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
  color : #ffffff;
  text-align: center;
  padding: 9.3% 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.re-font {
  line-height: 29px;
}

.re-font i {
  margin-bottom: 50px;
}

.re-form {
  margin-top : 25px;
}

.re-form input {
  width: 25%;
  padding: 8px;
  background: none;
  outline: none;
  border: none;
  border-bottom: #ffffff 1px solid;
  color: #ffffff;
  font-size: 16px;
}

.re-form button {
  margin-top : 15px;
  margin-bottom: 10px;
  padding : 0.7% 9%;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: #37C5CD;
  color: #ffffff;
  font-size: 16px;
}

.re-form input::placeholder {
  color: white;
  font-size: 16px;
}

.re-container a {
  text-decoration: none;
  color: white;
}

/* End of forgot password set */

@media screen and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .App {
    font-family: 'Roboto', sans-serif;
  }

  /* Sign In Responsive */
  .f-container {
    text-align: center;
    padding-top: 36px;
    margin-left: 45px;
    margin-right: 5px;
    color: #696464;
  }

  .f-container h1 {
    display: none;
  }

  .p-con1 {
    font-size: 14px;
    display: none;
  }

  .f-icon {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    cursor: pointer;
  }

  .f-icon i {
    margin: 10px 15px;
    font-size: 23px;
    display: none;
  }

  .f-form1 input {
    width: 80%;
    margin: 20px 0px;
    line-height: 30px;
    font-size: 16px;
    padding: 0px 10px;
    border: none;
    border-bottom: 1px #696464 solid;
    outline: none;
    color: #696464;
    position: relative;
    background-color: #ffffff;
    display: none;
  }

  .in-sign {
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    clip-path: circle(70% at 20% 9%);
    padding-top: 19.7%;
    padding-bottom: 14.9%;
    padding-right: 38%;
    margin-right: -100px;
    height: 100%;
    line-height: 25px;
    font-size: 20px;
    z-index: -5;
    color: white;
    position: fixed;
    font-size: 12px;
    text-align: justify;
  }

  .in-sign i {
    margin-left : 40px;
    /* padding-top : 30px; */
  }
  
  .in-sign h1 {
    margin-left : 40px;
  }
  
  .in-sign p {
    margin-left : 40px;
  }

  /* End Sign In Responsive */

  /* Btn Set Responsive */
  .btn-name button {
    margin: 410px 30px 0px 30px;
    background-color: #ffffff;
    outline: none;
    padding: 1.5% 23.5%;
    font-size: 12px;
    border-radius: 16px;
    border: 1px #696464 solid;
    color: #696464;
  }

  .btn-name a {
    text-decoration: none;
    color: #696464;
  }

  .btn-re {
    margin-top : 10px;
    font-size: 9px;
    font-weight: 550;
    line-height: 15px;
  }

  .btn-re span {
    color: #1EECFF;
  }

  .re-1 {
    margin: 10px 90px 0px 90px;
    background-color: #1EECFF;
    outline: none;
    padding: 1.5% 23.5%;
    font-size: 12px;
    border: 1px #1EECFF solid;
    border-radius: 16px;
    color: #ffffff;
  } 

  .re-1 p {
    color: #ffffff;
  }

  /* End of BTN Set  Responsive*/
  
  /* Forgot Password Responsive */
  .re-container {
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    color : #ffffff;
    text-align: center;
    padding: 9.3% 0;
    width: 100%;
    height: 100%;
    position: fixed;
  }
  
  .re-font {
    line-height: 29px;
  }
  
  .re-font i {
    margin-bottom: 40px;
  }
  
  .re-form {
    margin-top : 25px;
  }
  
  .re-form input {
    width: 48%;
    padding: 8px;
    background: none;
    outline: none;
    border: none;
    border-bottom: #ffffff 1px solid;
    color: #ffffff;
    font-size: 14px;
  }
  
  .re-form button {
    margin-top : 15px;
    margin-bottom: 10px;
    padding : 1.7% 7%;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #37C5CD;
    color: #ffffff;
    font-size: 14px;
  }
  
  .re-form input::placeholder {
    color: white;
    font-size: 14px;
  }
  
  .re-container a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }

  /* End of Forgot Password Responsive */
  
  
  /*  Modal Session*/
  
  /* End of modal session */
}